<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="org.mybatis.pagination.domain.Resources" alias="res"/>
		<typeAlias type="org.mybatis.pagination.domain.ResourcesPageCriteria" alias="resPageCriteria"/>
        <typeAlias type="org.mybatis.pagination.domain.ResourcesSub" alias="resSub"/>
        <typeAlias type="org.mybatis.pagination.domain.ComplexResourcesSub" alias="complexResSub"/>
	</typeAliases>
</configuration> 